html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
}

h1 {
  font-family: Arial;
  color: red;
  text-align: center;
}

.cards {
  display: flex; 
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 20px 0;
}

.card {
  padding: 0 2px;
  transition: 250ms all;
}

.card:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

@media only screen and (max-width: 500px) {
  .arrow {
    display: none;
  }
}